.WhatIDo {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/notebook.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.test {
    height: 100vh;
}
