.Box {
    font-size: 14px;
    padding: 30px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 2px #e9e9e9;
    font-weight: normal;
    .title {
        font-size: 36px;
        margin-bottom: 24px;
    }
}
